<div class="container my-5">
  <div class="row">
   <div class="col-3 my-2"  *ngFor="let item of products">
      <div class="card p-1" >
          <img [src]="'http://127.0.0.1:3000/image/'+item.image" class="card-img-top" alt="...">
          <div class="card-body">
            <span class="badge text-bg-primary mt-1">{{item.name |name}}</span><br>
            <span class="badge text-bg-primary mt-1">{{item.discription |slice:0:10}}</span><br>
            <span class="badge text-bg-primary mt-1">{{item.quantity |quantity}}</span><br>
            <span class="badge text-bg-primary mt-1">{{item.price |money}}</span><br>
            <span class="badge text-bg-primary mt-1">{{item.categorie}}</span><br>

            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="bi bi-calendar"></i>
                <span> {{item.date | date|datee}} </span>
          
            </ul>
            <div class="d-grid gap-2">
              <button class="btn btn-warning" [routerLink]="['/update',item._id]" type="button">update</button>
              <button class="btn btn-danger" (click)="delete(item._id)" type="button">delete</button>
            </div>

          </div>
        </div>
   </div>

      </div>
</div>

