
<div class="container">
    <div class="row">
      <div class="input-group rounded mt-5">
        <button class="btn btn-success me-2 col-3" routerLink="/addProduct">Add Produit</button>
        <input type="search" class="form-control rounded" placeholder="Search Product by Name" [(ngModel)]="Searchtext" aria-label="Search" aria-describedby="search-addon" >
      </div>
    </div>
    <hr>
    <div class="my-3 w-25">
      <select class="form-select" aria-label="Default select example" (change)="filter($event)">
        <option value="all" >All</option>
        <option value="{{option.categorie}}" *ngFor="let option of category"> {{option.categorie}} </option>
      </select>

    </div>
    <div class="row" >
      <div class="col-3 item " *ngFor="let item of products | search:Searchtext">
        
        <div class="card p-1 my-2">
            <a [routerLink]="['/article',item._id]" ><img [src]="'http://127.0.0.1:3000/image/'+item.image" class="card-img-top" alt="...">
          <br>  <span class="badge text-bg-primary mt-1">{{item.price |money}}</span><br>
          <span class="badge text-bg-primary">{{item.name}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>


  